<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage-DailyPlanr</title>
    <style>
        body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Background color for the whole page */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will make the container full height of the viewport */
}

.content {
  text-align: center;
  width:600px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  height:300px;
  width:400px;
}
a{
    text-decoration: none;
    cursor: pointer;
}

.login-btn {
  padding: 10px 20px;
  background-color: #007bff; /* Blue color for the button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

    </style>
</head>
<body>
    <div class="container">
        <div class="content">
          <h1>Welcome to Our DailyPlanr</h1>
          <p>
            "Welcome to DailyPlanr, your ultimate daily task management solution! Stay organized, focused, and productive with our intuitive to-do list application designed to streamline your daily planning process. Whether you're tackling work assignments, personal projects, or simply keeping track of your daily routines, DailyPlanr empowers you to prioritize tasks, set reminders, and achieve your goals with ease. Say goodbye to scattered notes and endless to-do lists – start your journey towards efficiency and success with DailyPlanr today!</p>
          <img src="../assets/todolist.jpg" alt="Example Image">
          <br>
          <a href="/login" class="login-btn">Login</a>
        </div>
      </div>
</body>
</html>